name: docker

on: [push, workflow_dispatch]

jobs:
  buildx:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix: 
        arch: ["x86_64", "pmmx", "aarch64", "armv7"]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
      -
        name: List Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Install yq (mikefarah, go)
        run: sudo su -c 'wget https://github.com/mikefarah/yq/releases/download/3.4.1/yq_linux_amd64 -O /usr/bin/yq && chmod +x /usr/bin/yq'
      -
        name: Setup nodejs for Dockerfile generation
        uses: actions/setup-node@v2
      -
        name: Generate Dockerfile
        run: |
          npm install --no-scripts
          node create-dockerfiles.js
        env:
          CHOSEN_ARCH: ${{ matrix.arch }}
      -
        name: Run Buildx (${{ matrix.arch }})
        run: |
          docker buildx build \
            --platform $(yq r arch-mappings.yml ${{ matrix.arch }}) \
            --output "type=image,push=false" \
            -f ${{ matrix.arch }}/Dockerfile -t adelie/${{ matrix.arch }} ${{ matrix.arch }}
      - name: Save built image for other jobs
        run: sudo su -c 'docker save adelie/${{ matrix.arch }} > /adelie.docker && chmod 777 /${{ matrix.arch }}.docker'
      - name: Upload built image for other jobs
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.arch }}
          path: /adelie.docker
  build-manifest:
    needs: [buildx]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
      - name: Import docker images
        run: |
          "cat ~/x86_64/adelie.docker | docker load"
          "cat ~/pmmx/adelie.docker | docker load"
          "cat ~/aarch64/adelie.docker | docker load"
          "cat ~/armv7/adelie.docker | docker load"
      - name: Create manifest
        run: docker manifest create jcxldn/adelie:latest --amend adelie/x86_64 --amend adelie/pmmx --amend adelie/aarch64 --amend adelie/armv7
